body {
    padding: 0px;
    margin: 0px;
}

.nav_bar {
    padding: 0px;
    margin: 0px;
    width: 100%;
    height: 59.5px;
    list-style: none;
    border-bottom-style : solid;
    border-bottom-color : #C9C9C9;
    border-bottom-width: 0.5px;
}

.hader {
    padding: 0px;
    margin: 0px;
}

#main_logo_box {
    width: 178px;
    height: 60px;
    display: block;
    position: absolute;
    box-sizing: border-box;
    padding: 10px 4px 0px 0px;
    left: 50%;
    transform:translate(-50%,0%);
    /*background-color: aqua;*/
}

#main_logo {
    width: 170.81px;
    height: 38px;
}

#menu_icon_box {
    width: 60px;
    height: 60px;
    display: block;
    position: absolute;
    box-sizing: border-box;
    padding: 22px 0px 0px 15px;
    /*background-color: orangered;*/
}

#menu_icon {
    width: 60px;
    height: 60px;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
}

#search_icon_box {
    width: 60px;
    height: 60px;
    display: block;
    position: absolute;
    box-sizing: border-box;
    padding: 20px 0px 0px 24px;
    /*background-color: blue;*/
    right: 0;
}

#search_icon {
    width: 60px;
    height: 60px;
    right: 0;
}
