body {
    padding: 0px;
    margin: 0px;
    letter-spacing: -0.4px;
    font-family: 'Noto Sans KR', sans-serif;
    background-color: #F4F4F4;
}

.nav_bar {
    padding: 0px;
    margin: 0px;
    width: 100%;
    height: 59.5px;
    list-style: none;
    border-bottom-style: solid;
    border-bottom-color: #C9C9C9;
    border-bottom-width: 0.5px;
    background-color: #FFFFFF;
}

.hader {
    padding: 0px;
    margin: 0px;
}

#main_logo_box {
    width: 178px;
    height: 60px;
    display: block;
    position: absolute;
    box-sizing: border-box;
    padding: 10px 4px 0px 0px;
    left: 50%;
    transform: translate(-50%, 0%);
    /*background-color: aqua;*/
}

#main_logo {
    width: 170.81px;
    height: 38px;
}

#menu_icon_box {
    width: 60px;
    height: 60px;
    display: block;
    position: absolute;
    box-sizing: border-box;
    padding: 18px 0px 0px 15px;
    /*background-color: orangered;*/
}

#menu_icon {
    width: 60px;
    height: 60px;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
}

#search_icon_box {
    width: 60px;
    height: 60px;
    display: block;
    position: absolute;
    box-sizing: border-box;
    padding: 19px 0px 0px 24px;
    /*background-color: blue;*/
    right: 0;
}

#search_icon {
    width: 60px;
    height: 60px;
    right: 0;
}

#photo_title {
    height: 203px;
    background-color: #B7789C;
}

#photo_title_text {
    display: block;
    position: absolute;
    box-sizing: border-box;
    margin: 21px 0px 21px 16px;
    padding: 0px 0px 0px 0px;
    font-size: 28px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.6;
    letter-spacing: -0.4px;
    text-align: left;
    color: #ffffff;
}

h1 {
    font-size: 28px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    color: #4b4b4b;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.main_contents_title {
    display: block;
    position: absolute;
    box-sizing: border-box;
    height: 38px;
    margin: 28px 0px 0px 16px;
    padding: 0px 0px 0px 0px;

}
